{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="section mt-4">
		<div class="section-heading flex-justify-content">
			<h2 class="title">Connexion</h2>
		</div>
		<div class="row mt-2">
			<div class="col-12">
				<div class="stat-box">
					<div class="row">
						<form action="{{ path('connexion') }}" method="post">
							<div>
								<div class="form-group basic">
									<label for="username" class="form-label">Login</label>
									<input id="username" type="text" name="_username" required class="form-control">
								</div>
								<div class="form-group basic">
									<label for="password" class="form-label">Mot de passe</label>
									<input id="password" type="password" name="_password" class="form-control">
								</div>
								<div class="mb-3">
									<button class="btn btn-primary btn-block btn-lg mt-2 btn" type="submit" name="action">Connexion</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section mt-4">
		<div class="section-heading flex-justify-content">
			<h2 class="title">Creer un compte</h2>
		</div>
		<div class="row mt-2">
			<div class="col-12">
				<div class="stat-box">
					{% form_theme form 'bootstrap_5_layout.html.twig' %}
					<div class="row">
						{{ form_start(form,  {'action': path('inscription')}) }}
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
