{% extends 'base.html.twig' %}

{% block title %}Modification d'une transaction{% endblock %}

{% block body %}
    <div class="row  valign-wrapper">
        <div class="col s12 center-align">
            <h3>{{transaction.nom}}</h3>
        </div>
    </div>

    <div class="row">

    </div>
{% endblock %}