{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="row  valign-wrapper">
        <div class="col s12 center-align">
            <h3>Login</h3>
        </div>
    </div>

    {% if error %}
    <div class="row">
        <div class="col s12">
            <div class="card-panel red">
        <span class="white-text">
            {{ error.messageKey | trans(error.messageData,'security') }}
        </span>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <form action="{{ path('connexion') }}" method="post" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" name="_username" required class="validate">
                    <label for="username">Login</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" name="_password" class="validate">
                    <label for="password">Mot de passe</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light indigo" type="submit" name="action">Connexion</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}