{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="row  valign-wrapper">
        <div class="col s12 center-align">
            <h3>Importation</h3>
        </div>
    </div>

    <div class="row">
        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button class="btn waves-effect waves-light indigo" type="submit" name="action">Importer
            <i class="material-icons right">send</i>
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
