{% extends 'base.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block body %}
    <div class="row  valign-wrapper">
        <div class="col s12 center-align">
            <h3>Page non trouvée</h3>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card-panel blue-grey darken-1">
                <div class="white-text center-align">
                    <p>La page demandée n'existe pas !</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
